body {
    background-image: url("/themes/Forest-Gray/Forest-Gray.gif");
    background-repeat: no-repeat;
    background-color: #1F1F1F;
    background-position-x: 50%;
    font-family: 'Press Start 2P', cursive;  
}

#titleAndOptions {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

#PXtitle {
    margin-top: 11px;
}

#PXtitle, #gclassic, #gversus, #gcoop{
    height: 100%;
    cursor: pointer;
}

#PXconfig, #PXstore, #PXcolthe{
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.config-btn{
    background-image: url("/images/Icon_Config.png");
    background-size: cover;
    border-radius: 5px;
    border: 5px #1F1F1F;
    width: 62px;
    height: 62px;
    cursor: pointer;
}

.theme-btn{
    background-image: url("/images/Icon_ColorThemes.png");
    background-size: cover;
    border-radius: 5px;
    border: 5px #1F1F1F;
    width: 62px;
    height: 62px;
    cursor: pointer;
}

.store-btn{
    background-image: url("/images/Icon_Store.png");
    background-size: cover;
    border-radius: 5px;
    border: 5px #1F1F1F;
    width: 62px;
    height: 62px;
    cursor: pointer;
}

#toCoins{
    text-align: center;
    padding: 10px;
    margin-top: 25px;
}

#coins{
    display: inline-block;
}

.selectTheme, .selectLanguage{
    font-family: 'Press Start 2P', cursive;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-text-stroke: 1px #3E265F;
}
option{
    text-align: center;
    margin: 5px;
}

#selectGamemode {
    list-style: none;
    padding: 10px;
    margin-top: 35px;
    
    text-align: center;
}
#selectGamemode img {
    margin-bottom: 25px;
}
#GameModes {
    display: flex;
    justify-content: space-between;
    width: 236px;
    margin: auto;
}
.link {
    display: inline-block;
    margin-block: 2px;
    position: relative;
}
.link::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #3E265F;
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.25s ease;
}
.link:hover::after {
    transform: scaleX(1);
}

.cont#blur.active {
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
}

#PXclose {
    cursor: pointer;
}

.top-pup{
    display: flex;
    justify-content: space-between
}

#config-popup, #store-popup, #theme-popup {
    display: block;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    padding: 20px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    background: rgb(0, 0, 0);
    color: white;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border: 4px solid white;
}

#config-popup.active, #theme-popup.active, #store-popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

/*Responsividad*/
/* @media (max-width: 600px) {

} */